{% block content %}
    <h1>News</h1>
    <div id="main-content" class="main-content">

        {% if document.getTitle() is empty %}
            {% do pimcore_head_title(pimcore_input('headline').getData(), 'PREPEND') %}
        {% endif %}

        <div class="row">
            <ul class="list-unstyled">
                {%  for news in news %}

                {% endfor %}
            </ul>
        </div>
    </div>

{%  endblock %}
